node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
*.config.json
*.config.js

.DS_Store
.env.local


lib/sanity/node_modules
lib/sanity/.pnp
lib/sanity/.pnp.js

lib/sanity/dist

lib/sanity/.sanity

lib/sanity/logs
lib/sanity/*.log

lib/sanity/coverage

lib/sanity/.DS_Store
lib/sanity/*.pem

lib/sanity/*.tsbuildinfo

lib/sanity/*.local
